@font-face {
  font-family: MADE Tommy Soft;
  src: url("./MADE Tommy Soft Regular PERSONAL USE.otf");
}
@font-face {
  font-family: MADE Tommy Soft Medium;
  src: url("./MADE Tommy Soft Medium PERSONAL USE.otf");
}
@font-face {
  font-family: MADE Tommy Soft Bold;
  src: url("./MADE Tommy Soft Bold PERSONAL USE.otf");
}
@font-face {
  font-family: MADE Tommy Soft Extra Bold;
  src: url("./MADE Tommy Soft ExtraBold PERSONAL USE.otf");
}
